# Environment files
#.env
#*.env

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Log files
*.log

# Virtual environments
.venv/
env/
venv/

# IDE settings
.vscode/
.idea/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.bak
*.tmp
*.~*

